@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
  margin: 0;
  background-color: rgba(185, 185, 185, 0.146);
  font-family: -apple-system, BlinkMacSystemFont, 'Exo 2', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 letter-spacing: 22;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
      --yellow: #ffdd40;
        --dark: #2f313a;
        --deg: -86deg;
        --trans: all 0.4s ease 0s;
        
  scroll-behavior: smooth;

  /*TOASTIFY*/

  --toastify-toast-background: rgb(238, 238, 238);
  --toastify-text-color-light: var(--dark);


  --toastify-text-color-warning: var(--dark);
  --toastify-color-progress-warning: var(--yellow);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
